* {
  padding: 0px;
  margin: 0px;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
  @include flex();
  flex-direction: column;
  gap:30px
}
.center {
  width: 800px;
  height: 400px;
  border-radius: 20px;
  background-color: aliceblue;
  border: 1px solid black;
  @include flex();
  padding: 20px;
}
.text{

  font-size: 32px;

}
.Bone{
  width: 65px;
  height: 32px;
}